{{#if error_message}}
    <div class="alert alert-dismissible fade show" role="alert" style="color:#F44336; background-color:#f443361a; border-color:#F44336;">
        <h5 class="alert-heading mb-1"><i class="fa fa-times-circle" aria-hidden="true"></i> Error</h5>
        <p class="pb-0 mb-0">{{error_message}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}

{{#if success_message}}
    <div class="alert alert-dismissible fade show" role="alert" style="color:#8bc34a; background-color:#8bc34a1a; border-color:#8bc34a;">
        <h5 class="alert-heading mb-1"><i class="fa fa-check-circle" aria-hidden="true"></i> Success</h5>
        <p class="pb-0 mb-0">{{success_message}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}