<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <!-- SideNav slide-out button -->
    <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
    </div>
    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
        {{!-- <p><img src="/img/admin.png" style="width:38px;"> Admin Panel</p> --}}
        <p>Bienvenue Mohammed Amine au Panel d'administration</p>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mon Compte
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i>&nbsp;&nbsp; Mon Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp; Logout</a>
            </div>
        </li>
    </ul>
</nav>